#cursor {
    position: fixed;
    top: -9px;
    left: -9px;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #004d35;
    pointer-events: none;
    z-index: 9999;
}

#cursor-border {
    --size: 40px;
    position: fixed;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: 1px solid #777;
    /* box-shadow: 0 0 0 1px white; */
    pointer-events: none;
    transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
        height 0.15s ease-out, background-color 0.15s ease-out;
    z-index: 9999;
}

#cursor.slider {
    background-color: #004d35;
}

#cursor.slider-white {
    background-color: white;
}

#cursor.slider-white,
#cursor.slider {
    height: 60px;
    width: 60px;
    top: -30px;
    left: -30px;
    transition: overflow 0.5s ease;
    padding-left: 5px;
}

#cursor.slider-white .material-symbols-outlined,
#cursor.slider .material-symbols-outlined {
    display: inline-block;
    margin-top: 17px;
    width: 20px;
}

#cursor.slider .material-symbols-outlined {
    color: white;
}

#cursor.slider-white .material-symbols-outlined {
    color: #004d35;
}

.material-symbols-outlined,
#cursor .input-bg,
#cursor-border.active,
#cursor-border.input-text,
#cursor-border.slider-white,
#cursor-border.slider {
    display: none;
}

#cursor.input-text {
    width: 1px;
    height: 30px;
    left: 0;
    top: -20px;
    border-color: black;
    border-left: 0;
}

#cursor.input-text .input-bg {
    display: block;
    height: 34px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 7px;
    margin-left: -3px;
    margin-top: -3px;
}

#cursor.active {
    width: 10px;
    height: 10px;
}


/*
input {
    font-family: "Century Gothic", sans-serif;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #64ffda;
    border: 1px solid #64ffda;
    border-radius: 0;
    box-shadow: 0 0 10px #64ffda, 0 0 10px #64ffda inset;
    text-shadow: 0 0 5px #64ffda, 0 0 10px #64ffda;
    transition: 0.3s ease-out;
}

input:hover {
    color: black;
    background-color: #64ffda;
    border-color: #64ffda;
    box-shadow: 0 0 80px #64ffda;
}

input:active {
    transform: scale(0.85);
    box-shadow: 0 0 30px #64ffda;
}

input:nth-of-type(2) {
    margin-left: 2rem;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 10px white, 0 0 10px white inset;
    text-shadow: 0 0 5px white, 0 0 10px white;
}

input:nth-of-type(2):hover {
    color: black;
    background-color: white;
    border-color: white;
    box-shadow: 0 0 80px white;
}

input:nth-of-type(2):active {
    transform: scale(0.85);
    box-shadow: 0 0 30px white;
}
*/
#wpadminbar {
    z-index: 9998 !important;
}